@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<img src="~/Images/bars.png" />
<img src="~/Images/basketball.png" />
<img src="~/Images/battery-levels.png" />
<img src="~/Images/big-trophy.png" />
<video width="320" height="240" controls>
    <source src="~/Videos/DELTA.MPG" type="video/mpeg">
    <source src="~/Videos/FORM.MPG" type="video/mpeg">
    Your browser does not support the video tag.
</video>